PGHOST=postgres
PGPORT=5432
PGDATABASE=geoportal
PGUSER=geoportal
PGPASSWORD=dummy_value

SECRET_KEY=<Download from https://django-secret-key-generator.netlify.app/ or google alternative>
DEBUG=False
EMAIL_HOST_PASSWORD=<can be left empty not required>
EMAIL_HOST=<can be left empty not required>
