{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'leaflet/leaflet.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'leaflet.zoomhome.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'leaflet.legend.css' %}">
<style>
  .map-container {
    display: flex;
    flex: 1;
    flex-flow: row wrap;
    gap: 10px;
  }

  .map-content {
    flex: 1;
  }

  #selected-item {
    max-width: 200px;
  }

  #map {
    height: 600px;
    min-width: 400px;
    /* width: 800px; */
  }

  .leaflet-control-layers-toggle:after {
    content: "Map Data Layers";
    color: #000;
  }

  .leaflet-control-layers-toggle {
    width: auto;
    background-position: 3px 50%;
    padding: 3px;
    padding-left: 36px;
    text-decoration: none;
    line-height: 36px;

  }

  .leaflet-legend-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
  }
</style>
<div class="map-container">
  <div id="map" class="map-content"></div>
  <div id="selected-item" class="map-content">
    <h3>Selected Item</h3>
    <p>Click on a feature to view details</p>
  </div>
</div>
<script>
  var shambadata = {{ shambas| safe}};
  var countydata = {{ counties| safe}};
  var constituenciesdata = {{ constituencies| safe}};
</script>
<script type="text/javascript" src="{% static 'leaflet/leaflet.js' %}"></script>
<script type="text/javascript" src="{% static 'leaflet.zoomhome.min.js' %}"></script>
<script type="text/javascript" src="{% static 'leaflet.legend.js' %}"></script>
<script type="text/javascript" src="{% static 'mine/lookupdata.js' %}"></script>
{% endblock content %}
