{% extends 'base.html' %}
{% load static %}

{% block content %}
<p1>Parcel Items</p1>
{% if not user.is_authenticated %}
<p><a href="{% url 'login' %}">Login</a> to view ownership details.</p>
{% endif %}
<table class="table table-bordered">
  <thead>
    <tr>
      <th>#</th>
      <th>Balance</th>
      <th>Owner</th>
      <th>Type Of Lease</th>
      <th>Period of Lease</th>
      <th>Zone</th>
      <th>Land Use</th>
    </tr>
  </thead>
  <tbody>
    {% for item in data %}
    <tr>
      <td>{{ forloop.counter }}</td>
      <td>{{item.balance}}</td>
      <td>{{item.owner}}</td>
      <td>{{item.type_of_lease}}</td>
      <td>{{item.period_of_lease}}</td>
      <td>{{item.zone}}</td>
      <td>{{item.land_use}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
