{% extends 'base.html' %}
{% block services %}
    <div class="col-md-3"></div>
{% endblock services %}
{% block content %}
    <h1>About The Geohub Geoportal</h1>
    <hr>
    <p1>This web application utilises a Geographic Information System (GIS); using mapping and
    coordinate information to demarcate and show land parcel information within a certain
        jurisdiction to form the basis for a Land Information System(LIS)</p1>

    <p>A LIS contains information about a parcel of land including</p>
    <ol>
        <li>Boundary</li>
        <li>Tenure</li>
        <li>Ownership</li>
        <li>Liabilities on the land</li>
        <li>Legal Attributes of the land</li>
        <li>Usage and zone information</li>
    </ol>

    <p>In this case This Geoportal is a practical example of a GIS based system that might be used
    by an authority to manage land resources. It is visual and interactive.</p>

    <p>By tying up the system to a Land Rates payment system one can easily identify the following:</p>
    <ol>
        <li>Where is a certain piece of land located?</li>
        <li>Who owns it?</li>
        <li>Has the owner paid land rates this year?</li>
        <li>Are there balances on rates and if so to what extent?</li>
        <li>Who is assigned to collect rates within that jurisdiction?</li>
    </ol>

    <p>As such, this system seeks to streamline revenue collection and cut the avoidance of payment of rates.</p>
    <hr>
    <h3>Privacy</h3>
    <p>For the purpose of demonstration the application uses sample information with near real except fake records.</p>
    <p>It is meant to be used as a source of proof of concept and considering weighty matters of land no way intended to expose private information.</p>
    <p>Feel free to report any concern to <a href="mailto:ngenovictor321@gmail.com">Ngeno Victor</a> for quick address and also for feedback.</p>
{% endblock content %}