{% extends 'base.html' %}
{% block content %}
<p1>This is essentially a form of Land Information System that can be utilised by the county governemnt to streamline revenue collection</p1>
<p1>The following procedure illustrates the process by which the county governmets manage their revenue collection detail</p1>
<img src="">
<p1>By having a land information system incorporated into the county citizen's information, one can easily visualize where rates have not been paid and just from information on a map one can get the details on the amount of rates payable and the balance thereof</p1>
{% endblock %}