{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>{{title}}</title>
	  <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'mine/css/styles.css' %}">
	
</head>
<body>
  <div class="navbar-wrapper">
    <div class="container">
      <nav class="navbar navbar-inverse navbar-static-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'home' %}">Geo Portal</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li class="active"><a href="{% url 'home' %}">Home</a></li>
              <li><a href="{% url 'about' %}">About</a></li>
              <li><a href="{% url 'contact' %}">Contact</a></li>
              {% if request.user.is_superuser %}
              <li><a href="/admin">Admin</a></li>
              {% endif %}
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Services <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  {% if request.user.is_staff %}
                    <li><a href="{% url 'registershamba' %}">Register Land</a></li>
                    <li><a href="{% url 'payment' %}">Update Payment</a></li>
                    <li><a href="{% url 'changeowner' %}">Change Ownership</a></li>
                    <li><a href="{% url 'discardshamba' %}">Discard Ownership</a></li>
                  {% endif %}
                  <li><a href="{% url 'data' %}">Data</a></li>
                  <li><a href="{% url 'statistics' %}">Statistics</a></li>
                </ul>
              </li>
            </ul>
            <ul style='padding-right:10px;' class="nav navbar-nav navbar-right">
              <div class="btn-group">
              <button type="button" class="btn navbar-btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ request.user }}<span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                {% if not request.user.is_authenticated %}
                <li><a href="{% url 'registration_register' %}">Register</a></li>
                <li><a href="{% url 'auth_login' %}">Log In</a></li>
                {% endif %}                  

                {% if request.user.is_authenticated %}
                <li><a href="http://127.0.0.1:8000/accounts/profile/">Profile</a></li>
                <li><a href="{% url 'auth_password_change' %}">Change Password</a></li>
                <li><a href="{% url 'auth_password_reset' %}">Reset Password</a></li>
                <li><a href="{% url 'auth_logout' %}">Logout</a></li>
                {% endif %}
              </ul>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </div>
  <div class="home-content">
    {% comment %} Home content will go here  {% endcomment %}
  </div>

  <!-- FOOTER -->
  <footer>
    <div id="footer-wrapper">
        <p>&copy; 2017 Team Geohub &middot; <a href={% url "about" %}>Privacy</a></p>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script type="text/javascript" src="{% static 'jquery-1.11.3.js' %}"></script>
	<script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.min.js'%}"></script>

</body>
</html>