Django==4.2.1
# django-chartit==0.2.9
django-crispy-forms==2.0
django-leaflet==0.29.0
django-registration==3.3
gunicorn==20.1.0
psycopg2-binary==2.9.6
six==1.16.0
tzdata==2023.3
whitenoise==6.4.0
# appdirs==1.4.3
# dj-database-url==0.4.2
# Django==2.2.24
#
# django-crispy-forms==1.13.0
# django-leaflet==0.22.0
# django-registration==3.1.2
# gunicorn==19.7.1
# packaging==16.8
# psycopg2-binary==2.8.6
# pyparsing==2.2.0
# pytz==2017.2
# six==1.10.0
# whitenoise==3.3.1
